{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for each in shares %}
            <tr>
                <td>{{ each.symbol }}</td>
                <td>{{ each.stockname }}</td>
                <td>{{ each.number }}</td>
                <td>{{ each.stockprice | usd }}</td>
                <td>{{ each.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}